h1 {
  font-family: monospace, Anonymous Pro;
  font-size: 100px;
  color: white;
  text-align: center;
}

a {
  font-family: monospace, Anonymous Pro;
  font-size: 55px;
  color: white;
  text-align: center;
}

h3 {
  font-family: monospace, Anonymous Pro;
  font-size: 55px;
  color: black;
  text-align: center;
}

h2 {
  font-family: monospace, Anonymous Pro;
  font-size: 55px;
  color: white;
  text-align: center;
}

#yeet {
  width: 40%;
  height: 40%;
}

#types {
  width: 35%;
  height: 35%;
}
p {
  font-family: monospace, Anonymous Pro;
  font-size: 25px;
  color: white;
  text-align: center;
}

#bitcoin {
  width: 8%;
  width: 8%;
}


video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(background.mp4) no-repeat;
  background-size: cover;
  opacity: 0.7;
}
